<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- required to handle IE and overcome browser incompatibility issues-->

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Render screen on size -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> if you downloaded bootstrap to your computer -->

    <!-- required scripts for IE: needed to support IT people. Some developer wrote scripts to automatically handle this stuff-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles/mystyles.css" />

    <title>Voronoi Diagram</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">CS 6161: Graduate Algorithms </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="collapsibleNavbar"
      ></div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Term Project</h1>
        <hr />
        <p>
          Creating Voronoi art using GIFs. Use this site to upload a GIF, and
          watch as it becomes Vornoi'd.
        </p>
        <p>
          Developed by Yonathan Fisseha (yf2ey), Youssef Errami (ye4pg), and
          Simranjit Bhatia (sk8wt)
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <center>
            <h3>Select a GIF</h3>
            <p>
              Choose any GIF that you would like to see in Vornoi art.
            </p>

            <a class="btn btn-primary btn-lg" href="#" role="button">
              Upload
            </a>
          </center>
        </div>
        <div class="col-md-6">
          <center>
            <h3>See the Result</h3>
            <p></p>

            <img
              src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA4OC85MTEvb3JpZ2luYWwvZ29sZGVuLXJldHJpZXZlci1wdXBweS5qcGVn"
              width="90%"
            />
          </center>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> if you downloaded bootstrap to your computer -->
  </body>
</html>
