<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" />

    <title>Voronoi Diagram</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">CS 6161: Graduate Algorithms </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="collapsibleNavbar"
      ></div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Term Project</h1>
        <hr />
        <p>
          Creating Voronoi art using 3-4 second videos. Use this site to upload
          an mp4 file, and watch it become Voroni Art.
        </p>
        <p>
          Developed by Yonathan Fisseha (yf2ey), Youssef Errami (ye4pg), and
          Simranjit Bhatia (sk8wt)
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <center>
            <h3>Select a GIF</h3>

            <p>
              Choose any GIF that you would like to see in Vornoi art.
            </p>

            <form enctype="multipart/form-data" method="POST" action="">
              {% csrf_token %} {{ form.as_p }}
              <input type="submit" value="Upload" />
            </form>

            <form class="form-inline my-3 my-md-5" action="" method="POST">
              <input
                name="error_rate"
                class="form-control mr-sm-4"
                type="search"
                placeholder="Enter an Error Rate"
                aria-label="Error"
              />
              <input
                name="fps"
                class="form-control mr-sm-4"
                type="search"
                placeholder="Enter Frames/Sec"
                aria-label="frames"
              />
              <button type="submit" value="Submit">
                Submit
              </button>
            </form>
          </center>
        </div>
        <div class="col-md-6">
          <center>
            <h3>See the Result</h3>

            <video width="600" controls>
              <source src="{{ videofile }}" type="video/mp4" />
              File not found.
            </video>

            <p></p>
          </center>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> if you downloaded bootstrap to your computer -->
  </body>
</html>
